 /*selectors*/

 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;/* always include*/
 }

 body {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    /*will inherit*/
    font-size: 20px;
    padding: 50px;
}

h1{
    font-size: 40px;
    margin-bottom: 25px; /* is outside of the element*/ 
}

h2{
    margin-bottom: 20px;
    text-align: center;
}

/* applied to all 'p' items on page. */
p {
    margin-bottom: 20px;
}

 /* selecting based on class name*/
.first{
    color: rgb(32, 28, 28);
}

 /* selecting based on id name*/
#your-name{
    background-color: blanchedalmond;
    width: 400px;
    padding: 25px;
    margin-top: 30px;
    border: 5px solid #444
    /* size, style, color */
}

/* padding INSIDE the button and entry-box */
input, button {
    padding: 10px;
    font-size: 16px;
}

a {
    background-color: lightgray;
}

#course-image {
    width: 400px;
     border-radius: 2%; /*rounds the edge of the image*/
}

#your-name h2 {
    color:#444; /*only the h2 in the box is selected */
}

